$topBarHeight: 60px;
$sideMenuWidth: 250px;
$smallSideMenuWidth: 80px;

$transparency: 0.32;
$themeBg: #7197bb;
$logo-border: 15px;

.page-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

  /deep/ .modal-dialog {
    margin-top: 75px;
  }

  .sidebar {
    width: $sideMenuWidth;
    min-width: $smallSideMenuWidth;
    overflow-y: auto;
    flex: none;

    @media (max-width: 768px) {
      & {
        width: $smallSideMenuWidth;
      }
    }

    .logo-container {
      text-align: center;
      border-right: $logo-border transparent solid;
      border-left: $logo-border transparent solid;

      a {
        display: inline-block;
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        img {
          width: 80%;
        }
      }
    }

    .menu-wrapper {
      padding: 20px;
      text-align: center;
      color: #fff;
    }
  }

  .main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    @media (max-width: 768px) {
      & {
        left: $smallSideMenuWidth;
      }

      /deep/ .form-group {
        margin-top: 10px;
        margin-bottom: 10px;

        .control-label {
          text-align: left;
        }
      }
    }

    /deep/ .nav.nav-pills a {
      cursor: pointer;
    }

    /deep/ td {
      vertical-align: middle;
    }

    .navbar {
      width: 100%;
      min-height: $topBarHeight;
      z-index: 1040;
      border: 0;
      border-radius: 0;
      background: $themeBg;
      margin-bottom: 0;
      flex: none;

      .admin-panel-title {
        color: #fff;
      }

      .user-info {
        position: absolute;
        top: 0;
        right: 2%;
        color: #333;
        padding: 15px;
        border-radius: 0 0 5px 5px;
        background: rgba(255, 255, 255, 0.7);
      }
    }

    .content-wrapper {
      flex-grow: 1;
      overflow-y: auto;

      .li-content {
        .page-header {
          margin: 20px 0;
        }

        padding-bottom: 150px;
      }
    }

  }
}

.loading {
  background: rgba(255, 255, 255, 0.7) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1030;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    background: #fff;
    padding: 15px 5px 5px;
    width: 250px;

    border: 1px #eee solid;
    border-radius: 4px;

    text-align: center;

    p {
      margin-top: 15px;
    }

    & > i {
      color: #bbbbbb;
      font-size: 100px;
    }
  }
}
