<div class="page-wrapper">

    <div class="sidebar" [style.background]="bgThemeColor">
        <div class="logo-container">
            <a href="/">
                <img src="./assets/liquid-investigations/img/li_logo.svg">
            </a>
        </div>
        <div class="menu-wrapper">
            <li-side-menu [sideMenuButtons]="sideMenuButtons" [disabled]="isLoading"></li-side-menu>

            <div class="common-buttons" *ngIf="commonMenuButtons">
                <hr>
                <li-side-menu [sideMenuButtons]="commonMenuButtons" [disabled]="isLoading"></li-side-menu>
            </div>
        </div>
    </div>

    <div class="main">
        <nav class="navbar" [style.background]="bgThemeColor">
            <div class="container-fluid">
                <div class="col-xs-12 visible-xs">&nbsp;</div>
                <div class="col-xs-12 visible-xs">&nbsp;</div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <h3 class="admin-panel-title">{{ domain }} Admin Panel</h3>
                </div>
                <div class="user-info animated" *ngIf="!!username" [ngClass]="{'fadeInDown': !!username}">
                    Logged in as: {{ username }} <span class="badge bg-primary" *ngIf="isAdmin">admin</span>
                    <a href="/accounts/logout/?next=/" class="badge bg-success"><i class="fa fa-sign-out"></i></a>
                </div>
            </div>
        </nav>

        <div class="content-wrapper">
            <div class="loading" *ngIf="isLoading" [@inOutAnimation]>
                <div class="spinner">
                    <i class="fa fa-spin fa-refresh"></i>

                    <p class="text-center">{{ pollingText }}</p>
                    <button *ngIf="showRepair" class="btn btn-warning" (click)="repairConfig()">
                        <i class="fa fa-wrench"></i> Repair
                    </button>
                </div>
            </div>

            <div class="container-fluid li-content">
                <h1 class="page-header">{{ pageTitle }}</h1>
                <div class="col-xs-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>

