<div class="row">
    <div class="col-xs-12 col-sm-8">
        The Liquid investigations project is a <b>Google DNI</b> funded project,
        driven by the <b>Romanian Centre for Investigative Journalism</b> (<a href="http://crji.theblacksea.eu/"
                                                                       target="_blank">CRJI</a>),
        where coders and journalists work towards making investigative collaborations less burdensome and more secure.
        <br>
        <br>
        If you think you have run into a problem or need support,
        you can contact our development and support team at <a
            href="mailto:contact@liquiddemo.org">contact@liquiddemo.org</a>

        <br>
        <br>
        For organizational inquiries or to make a contribution, feel free to contact us at <a
            href="mailto:rcij@riseup.net">rcij@riseup.net</a>
        (PGP:0x8234F8D4A624D9F4)
    </div>
</div>
