.service-element {
  display: table;
  width: 100%;
  height: 60px;

  &> div {
    display: table-cell;
  }

  .service-icon {
    border: 1px #eee solid;
    width: 64px;
    height: 64px;
    min-width: 64px;
    line-height: 1px;
    font-size: 1px;
  }

  .service-body {
    vertical-align: top;

    padding: 0 10px;

    .service-label {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1em;
    }

    .service-description {
      a {
        cursor: pointer;
      }

      .no-description {
        color: #888888;
        font-style: italic;
      }
    }
  }

  .service-control {
    width: 64px;
    height: 64px;

    vertical-align: bottom;

    .control-label {
      display: none;
    }
  }
}