<div class="page-wrapper-client">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!--<a class="navbar-brand" routerLink="/">-->
                    <!--Liquid Investigations-->
                    <!--</a>-->
                </div>
                <div class="user-info animated" *ngIf="!!username" [ngClass]="{'fadeInDown': !!username}">
                    Logged in as: {{ username }} <a routerLink="/admin-ui" class="badge bg-primary" *ngIf="isAdmin">admin</a>
                    <a href="/accounts/logout/?next=/nic/#/login" class="badge bg-success"><i class="fa fa-sign-out"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="loading col-xs-offset-2 col-sm-offset-2" *ngIf="isLoading" [@inOutAnimation]>
                <div class="spinner">
                    <i class="fa fa-spin fa-refresh"></i>
                </div>
            </div>

            <div class="col-xs-2 col-sm-3 col-md-2 sidebar">
                <div class="logo-container">
                    <a routerLink="/">
                        <img src="./assets/liquid-investigations/img/li_logo.png">
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <li-side-menu [sideMenuButtons]="sideMenuButtons"></li-side-menu>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{{ pageTitle }}</h1>
                <router-outlet></router-outlet>
                <li-iframe *ngIf="subdomain" [src]="subdomain" (loaded)="finishedLoading($event)"></li-iframe>
            </div>
        </div>
    </div>
</div>

