<div id="liMenu">
    <div class="li-top-menu">
        <div class="li-brand-container">
            <a href="/">
                <img class="li-brand" src="./assets/liquid-investigations/img/li_logo.svg">
            </a>
        </div>
        <div class="user-info animated" *ngIf="!!username" [ngClass]="{'fadeInDown': !!username}">
            Logged in as: {{ username }} <span class="badge bg-primary" *ngIf="isAdmin">admin</span>
            <a href="/accounts/logout/?next=/" class="badge bg-success"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
</div>

<div class="dashboard-container">
    <ng-container *ngFor="let page of pages; let i = index">
        <a class="col-xs-12 col-sm-3 text-center dashboard-item item-{{ i }}" href="{{ protocol }}//{{ page.subdomain }}.{{ hostname }}">
            <img src="{{ page.icon }}" class="img-circle dashboard-img">
            <div class="description">
                <h4>{{ page.label }}</h4>
            </div>
        </a>
    </ng-container>
</div>