table {
  tr td {
    vertical-align: middle;

    &:first-child {
      padding-left: 15px;
    }

    &.actions-col {
      min-width: 330px;

      .action {
        display: inline-block;
        margin: 0 3px;
        cursor: pointer;
      }
    }
  }
}