<ul class="nav nav-pills">
    <li>
        <a (click)="showEditUserModal()">
            <i class="fa fa-user-plus"></i>
            Add user
        </a>
    </li>
</ul>

<br><br>

<div class="row" *ngFor="let list of users; let i = index">
    <div class="col-xs-12">

        <blockquote>{{ list.title }}</blockquote>

        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <ng-container *ngFor="let column of tableColumns">
                        <th class="col-sm-3">{{ column.label }}</th>
                    </ng-container>
                    <th class="col-sm-3"></th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let user of list.entries">
                    <tr>
                        <ng-container *ngFor="let column of tableColumns">
                            <td>
                                <ng-container *ngIf="isBoolean(user[column.name]); else displayString">
                                    <ng-container *ngIf="user[column.name]; else userText">Admin</ng-container>
                                    <ng-template #userText>User</ng-template>
                                    <i class="fa" [ngClass]="{'fa-user': user[column.name]}"></i>
                                </ng-container>
                                <ng-template #displayString>
                                    {{ user[column.name] }}
                                </ng-template>
                            </td>
                        </ng-container>
                        <td class="text-right actions-col">
                            <div class="action">
                                <a (click)="showChangePasswordModal(user)"><i class="fa fa-key"></i> Change password</a>
                            </div>

                            <div class="action">
                                <button class="btn btn-sm btn-primary" (click)="showEditUserModal(user)">
                                    <i class="fa fa-pencil"></i> Edit
                                </button>
                            </div>

                            <div class="action activate">
                                <button class="btn btn-sm btn-danger" *ngIf="i == 0"
                                        (click)="toggleActiveUser(user.username, false)">
                                    <i class="fa fa-ban"></i> Deactivate
                                </button>
                                <button class="btn btn-sm btn-success" *ngIf="i == 1"
                                        (click)="toggleActiveUser(user.username, true)">
                                    <i class="fa fa-check"></i> Activate
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>

        </div>
    </div>
</div>

<bs-modal #editModal>
    <div class="bs-modal-header">
        <h3 *ngIf="isAddMode">Add user</h3>
        <h3 *ngIf="!isAddMode">Edit user</h3>
    </div>
    <div class="bs-modal-body">
        <dynamic-form [fg]="editFormConfig" #editForm [showSubmitButton]="false"
                      [onSuccessSubmit]="updateUserData.bind(this)"></dynamic-form>
    </div>
    <div class="bs-modal-footer">
        <button class="btn btn-primary" (click)="editForm.onSubmit(true)" *ngIf="isAddMode">
            <i class="glyphicon glyphicon-ok"></i> Add
        </button>

        <button class="btn btn-primary" (click)="editForm.onSubmit(false)" *ngIf="!isAddMode">
            <i class="glyphicon glyphicon-ok"></i> Update
        </button>
    </div>
</bs-modal>

<bs-modal #changePasswordModal>
    <div class="bs-modal-header">
        <h3>Change password</h3>
    </div>
    <div class="bs-modal-body">
        <dynamic-form [fg]="changePasswordFormConfig" #changePasswordForm [showSubmitButton]="false"
                      [onSuccessSubmit]="changePassword.bind(this)"></dynamic-form>
    </div>
    <div class="bs-modal-footer">
        <button class="btn btn-primary" (click)="changePasswordForm.onSubmit()">
            <i class="glyphicon glyphicon-ok"></i> Update
        </button>
    </div>
</bs-modal>
