.settings-container {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;

  .panel {
    border-radius: 5px;

    min-height: 290px;
  }
}

.summary-field {
  margin-bottom: 10px;

  .summary-label {
    padding-right: 0;
  }

}

.summary-category-center {
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
}