<div class="service-element" [formGroup]="fg">
    <div class="service-icon">
        <img src="./assets/liquid-investigations/img/64x64_dummy.png">
    </div>
    <div class="service-body">
        <div class="service-label">{{ control.label }}</div>
        <div class="service-description">
            <span *ngIf="(control.viewInfo && control.viewInfo['description']); else no_desc">
                {{ control.viewInfo['description'] }}
            </span>
            <ng-template #no_desc>
                <span class="no-description">No description</span>
            </ng-template>

            <a *ngIf="control.id === 'enabled'"
               (click)="toggleShow(control)">Manage keys</a>
        </div>
    </div>
    <div class="service-control">
        <dynamic-element [control]="control" [fg]="fg"></dynamic-element>
    </div>
</div>
