table {
  tr td {
    vertical-align: middle;

    &:first-child {
      padding-left: 15px;
    }

    &.actions-col {
      min-width: 330px;

      .action {
        display: inline-block;
        margin: 0 3px;
        cursor: pointer;

        &.activate button {
          width: 92px;
        }

      }
    }
  }
}

.col-id {
  max-width: 50px !important;
}

.col-label {
  width: 100%!important;
}

.divider {
  margin: 0 10px;
}

.enable-slider-label {
  position: relative;
  top: -13px;
}