.status-container {
  border-left: 1px #eee solid;
  border-bottom: 1px #eee solid;
  border-radius: 5px;

  margin-bottom: 15px;

  td:first-child {
    padding-left: 15px;
  }
}

td {
  vertical-align: middle;
}