body {
  padding-top: 50px;
}

$transparency: 0.42;

.navbar-fixed-top {
  border: 0;
  background: url("../../assets/liquid-investigations/img/wizard-background.jpg");
  background-size: cover;

  .navbar-wrapper {
    background: rgba(255, 255, 255, 0.32);
  }
}

.sidebar {
  background: url("../../assets/liquid-investigations/img/wizard-background.jpg");
  background-size: cover;

  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  box-shadow: inset -1px 0px 0px 0px #DDDDDD;

  .sidebar-wrapper {
    background: rgba(255, 255, 255, $transparency);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 0;
    text-align: center;
    color: #fff;
  }
}

@media (min-width: 768px) {

  .sidebar {
    .sidebar-wrapper {
      padding: 20px;

    }

    .nav {

      li > a {
        margin: 10px 0;
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    i {
      font-size: 24px;
      float: left;
      margin-right: 15px;
      line-height: 30px;
      width: 30px;
      text-align: center;
    }

    p {
      margin: 0;
      line-height: 30px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.nav {
  margin-top: 20px;

  li > a {
    margin: 10px auto;
    color: #fff;

    &:hover {
      background: rgba(255, 255, 255, $transparency);
    }
  }

  li.active > a {
    background: rgba(255, 255, 255, $transparency);

    //&:before {
    //    border-right: 17px solid #DDDDDD;
    //    border-top: 17px solid transparent;
    //    border-bottom: 17px solid transparent;
    //    content: "";
    //    display: inline-block;
    //    position: absolute;
    //    right: 0;
    //    top: 8px;
    //}
  }

}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

