<div class="page-wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-wrapper">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        Liquid Investigations
                    </a>
                </div>
                <div class="user-info">
                    Logged in as: {{ username }} <span class="badge" *ngIf="isAdmin">admin</span>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-sm-3 col-md-2 sidebar">
                <div class="sidebar-wrapper">
                    <li-side-menu [sideMenuButtons]="sideMenuButtons"></li-side-menu>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">{{ pageTitle }}</h1>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<div class="loading" *ngIf="isLoading">
    <div class="spinner">
        <i class="fa fa-spin fa-spinner"></i>
    </div>
</div>
