$topBarHeight: 60px;

body {
  padding-top: $topBarHeight;
}

$transparency: 0.32;

.navbar-inverse .navbar-brand {
  color: #fff;
}

.user-info {
  position: absolute;
  top: 0;
  right: 2%;

  color: #fff;

  padding: 15px;
  border-radius: 0 0 5px 5px;

  background: rgba(255, 255, 255, $transparency);
}

.page-wrapper {
  .navbar-fixed-top {

    height: $topBarHeight;

    border: 0;
    background: url("../../assets/liquid-investigations/img/wizard-background.jpg");
    background-size: cover;

    .navbar-wrapper {
      background: rgba(255, 255, 255, $transparency);
      height: 100%;
    }
  }

  .sidebar {
    background: url("../../assets/liquid-investigations/img/wizard-background.jpg");
    background-size: cover;

    position: fixed;
    top: $topBarHeight;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 2px 0px 20px 0px #808080;

    .sidebar-wrapper {
      background: rgba(255, 255, 255, $transparency);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      padding: 0;
      text-align: center;
      color: #fff;
    }

    li > a {
      margin: 15px auto;
      color: #fff;

      &:hover {
        background: rgba(255, 255, 255, $transparency);
      }
    }

    li.active > a {
      background: rgba(255, 255, 255, $transparency);
    }
  }

  @media (min-width: 768px) {

    .sidebar {
      .sidebar-wrapper {
        padding: 20px;

      }

      .nav {
        margin-top: 20px;

        li > a {
          margin: 15px 0;
          padding-left: 25px;
          padding-right: 25px;
        }
      }

      i {
        font-size: 24px;
        float: left;
        margin-right: 15px;
        line-height: 30px;
        width: 30px;
        text-align: center;
      }

      p {
        margin: 0;
        line-height: 30px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }

  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }

  /*
   * Main content
   */

  .main {
    padding: 20px;
  }

  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  .main .page-header {
    margin-top: 0;
  }
}

.loading {
  background: rgba(255, 255, 255, 0.6) no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;

  .spinner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

    text-align: center;
    font-size: 70px;
    color: #2392ea;
  }
}

