.page-wrapper {
    position: relative;
    top: 0;
    height: 100vh;

    .sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-size: cover;
        background-position: center center;

        .sidebar-wrapper {
            position: relative;
            max-height: none;
            min-height: 100%;
            overflow: hidden;
            width: 260px;
            z-index: 4;
            box-shadow: inset -1px 0px 0px 0px #DDDDDD;
        }

        .logo {
            border-bottom: 1px solid rgba(102, 97, 91, 0.3);
            padding: 18px 0px;
            margin: 0 20px;
        }

        .nav {
            margin-top: 20px;

            li > a {
                margin: 10px 0;
                padding-left: 25px;
                padding-right: 25px;
                opacity: .7;
            }

            li.active > a {
                color: #DD0330;
                opacity: 1;

                &:before {
                    border-right: 17px solid #DDDDDD;
                    border-top: 17px solid transparent;
                    border-bottom: 17px solid transparent;
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 8px;
                }
            }

            i {
                font-size: 24px;
                float: left;
                margin-right: 15px;
                line-height: 30px;
                width: 30px;
                text-align: center;
            }

            p {
                margin: 0;
                line-height: 30px;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

    }

    .main-panel {
        background-color: #ddd;
        position: relative;
        z-index: 2;
        float: right;
        width: calc(100% - 260px);
        min-height: 100%;

        & > .content {
            padding: 30px 15px;
            min-height: calc(100% - 123px);
        }
    }

}

div[data-notify] .close {
    top: 15px !important;
}
