<div class="row text-center">

    <div class="wizard">
        <div class="wizard-inner">
            <div class="connecting-line"><div class="progress" [style.width]="(width2 * step) + '%'"></div></div>
            <ul class="nav nav-tabs" role="tablist">

                <ng-container *ngFor="let i of steps">

                    <li role="presentation" [style.width]="width + '%'" [ngClass]="{ 'active': i <= step, 'disabled': i > step, 'last': i == total-1 }">
                        <a href="#" (click)="$event.preventDefault()">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>

                </ng-container>
            </ul>
        </div>
    </div>
</div>
