<div class="text-right">
    <a class="btn btn-warning" (click)="confirmReboot()">
        <i class="fa fa-refresh"></i>
        Reboot
    </a>
    <a class="btn btn-danger" (click)="confirmShutDown()">
        <i class="fa fa-power-off"></i>
        Shutdown
    </a>
</div>

<div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-8">
        <li-table-list [config]="currentConfig"></li-table-list>
    </div>
</div>

<bs-modal #confirmationModal>
    <div class="bs-modal-header"> <h4>{{ confirmation?.title }}</h4> </div>
    <div class="bs-modal-body">{{ confirmation?.body }}</div>
    <div class="bs-modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="{{ confirmation?.ok.buttonClass }}" (click)="confirmation?.ok.action()">
            <i class="{{ confirmation?.ok.iconClass }}"></i>
            {{ confirmation?.ok.text }}
        </button>
    </div>
</bs-modal>