<div class="final-container">
    <div class="text-center">
        <h1>
            Congratulation! <br>
            Your device is being configured
        </h1>
    </div>
    <div class="row final-description">
        <div class="col-xs-12 text-center">
            In couple of minutes your device will be ready to use!<br>

            After the device restart you'll be able to start using Liquid Investigations by accessing:

            <div class="text-center">
                <a href="https://{{ url }}/">https://{{ url }}/</a>
            </div>

            <a href="https://{{ url }}/" class="btn btn-success btn-lg">
                Start using Liquid Investigations
                <i class="glyphicon glyphicon-log-in"></i>
            </a>
            <br>
            <br>
            <br>
            You can always change your settings by accessing the Admin panel:
            <div class="text-center">
                <a href="https://{{ url }}/admin">https://{{ url }}/admin</a>
            </div>
            <a href="https://{{ url }}/admin" class="btn btn-primary btn-lg">
                Go to Admin Panel
                <i class="glyphicon glyphicon-log-in"></i>
            </a>

        </div>
    </div>
</div>