<div class="final-container">
    <div class="text-center">
        <h1>
            Done!
        </h1>
    </div>
    <div class="row final-description">
        <div class="col-xs-12 text-center">

            <div class="text">
                In couple of minutes your device will be ready to use!<br>
                After the device restart you'll be able to start using Liquid Investigations by accessing:<br>

                <a href="https://{{ url }}/">
                    https://{{ url }}/
                </a>
            </div>

            <a href="https://{{ url }}/" class="btn btn-success btn-lg">
                Start using Liquid Investigations
                <i class="glyphicon glyphicon-log-in"></i>
            </a>
        </div>
    </div>
</div>