<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
                <li-progressbar *ngIf="showProgress" [step]="step" [total]="stepsLength"></li-progressbar>

                <div class="outlet-container"
                     [@slideLeft]="isSlideLeft(outlet)"
                     [@slideRight]="isSlideRight(outlet)"
                >
                    <div class="col-xs-12">
                        <router-outlet #outlet="outlet"></router-outlet>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row" *ngIf="showControls">
                    <div class="col-xs-6 text-left">
                        <button class="btn btn-info"
                                *ngIf="controls.previous.isVisible()"
                                (click)="controls.previous.action()"
                        >Previous
                        </button>
                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="btn btn-info"
                                *ngIf="controls.next.isVisible()"
                                (click)="controls.next.action()"
                        >Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>