<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row progress-bar-container" *ngIf="showProgress">
                    <div class="col-xs-12">
                        <li-progressbar [step]="progressStep" [total]="stepsLength"></li-progressbar>
                    </div>
                </div>

                <div class="step-container">
                    <div class="row" *ngIf="title">
                        <div class="col-xs-12 text-center wizard-title">
                            <h1 class="modal-title">{{ title }}</h1>
                        </div>
                    </div>

                    <div class="outlet-container" [@slideLeft]="isSlideLeft(outlet)">
                        <router-outlet #outlet="outlet"></router-outlet>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 text-left">

                    </div>
                    <div class="col-xs-6 text-right">
                        <button *ngIf="buttonConfig"
                                class="{{ buttonConfig.buttonClass }}"
                                (click)="buttonConfig.action()"
                                [disabled]="buttonConfig.isDisabled()"
                        >{{ buttonConfig.label }}
                            <i *ngIf="!buttonConfig.isLoading()" class="{{ buttonConfig.iconClass }}"></i>
                            <i *ngIf="buttonConfig.isLoading()" class="fa fa-spin fa-refresh"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>