<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row progress-bar-container">
                    <div class="col-xs-12">
                        <li-progressbar *ngIf="showProgress" [step]="progressStep" [total]="stepsLength"></li-progressbar>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center wizard-title">
                        <h4 class="modal-title">{{ title }}</h4>
                    </div>
                </div>

                <div class="outlet-container" [@slideLeft]="isSlideLeft(outlet)">
                    <div class="col-xs-12">
                        <router-outlet #outlet="outlet"></router-outlet>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6 text-left">

                    </div>
                    <div class="col-xs-6 text-right">
                        <button class="btn btn-primary"
                                *ngIf="buttonConfig"
                                (click)="buttonConfig.action()"
                        >{{ buttonConfig.label }} <i class="{{ buttonConfig.iconClass }}"></i></button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>