<ul class="nav">
    <ng-container *ngFor="let button of buttons">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: !childrenAsTabs}">
            <a routerLink="{{ button.path }}">
                <i *ngIf="button.icon" class="{{ button.icon }}"></i>
                <img *ngIf="button.img" src="{{ button.img }}" class="img-rounded">
                <p class="hidden-xs">{{ button.label }}</p>
            </a>

            <ng-container *ngIf="button.children">
                <li-side-menu [sideMenuButtons]="button.children" [parentPath]="button.path"></li-side-menu>
            </ng-container>
        </li>
    </ng-container>
</ul>